.title-bar {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  padding: 16px 16px;

  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 20px 16px;
    gap: 0;
  }
}

.title-bar img {
  width: 64px;
  height: 64px;
  background: none;

  @media (max-width: 1024px) {
    width: 48px;
    height: 48px;
  }
}

.title-bar h1 {
  font-size: 30px;
  color: var(--text-h);
  line-height: 1.5;
  margin: 0;

  @media (max-width: 480px) {
    font-size: 18px;
    line-height: 1.2;
  }
}

.subtitle {
  font-size: 10px;
  color: #9ca3af;
  margin-top: 20px;

  @media (max-width: 1024px) {
    font-size: 7px;
    margin-top: 2px;
  }
}
