.title-bar {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px 16px;
}

.title-bar img {
  width: 64px;
  height: 64px;
  background: none;
}

.title-bar h1 {
  font-size: 30px;
  color: white;
  line-height: 1.5;
  @media (max-width: 480px) {
    font-size: 18px;
  }
}
